*{
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #dfe7ee;
    line-height: 1.5;
    font-size: 125%;
    display: flex;
  }
  
  /*--------------------------------------- CARD ------------------------------------------*/
  
  .container {
    position: relative;
    background-color: #fff;
    padding: 0 1em 1em; 
    margin: 150px 500px 400px auto; 
    -webkit-filter: drop-shadow(0 1em 1em rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0 1em 1em rgba(0, 0, 0, 0.1));
  }
  
  /*-------------------------------- FOR THE TILTED CARD------------------------------------ */
  
  .container::before {
    content: '';
    padding-top: 5%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    background-image: linear-gradient(3deg, white calc(50% - 1px), transparent 50%);
  }
  
  /* ------------------------------------------------------------------------------------------*/
  
  .content {
    position: relative;
    margin: 0 60px auto;
    padding: 0 1em;
  }
  
  h1 {
    border-bottom: 4px solid deepskyblue;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
    text-align: center;
    font-family: Raleway;
  }
  
  /*----------------------------------- INPUT BOX---------------------------------------*/
  
  .input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 1.4rem;
      height: 50px;
      padding: 10px 10px;
      text-align: center;
      font-weight: bold;
  }
  
  /*------------------------------------DETAILS----------------------------------------- */
  
  .main-weather {
      display: none;
      padding: 20px;
      line-height: 2.2rem;
      border-radius: 10px;
      height: 30vh;
      text-align: center;
      color:  #23313E;
      font-weight: bold;
  }
  
  .temp {
  
      margin: 25px ;
      font-size:40pt;
      font-weight: 700;
  }
  