/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f5f5;
}

header {
  height: 500px;
  background-color: #3400ff;
}

nav {
  float: right;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  width: 100%;
}

.mbview {
  display: flex;
  gap: 10px;
  float: right;
  margin-left: 20%;
}

.nav-item {
  margin-right: 20px;
  margin-top: 5px;
  color: #fff;
  cursor: pointer;
}

.nav-item-active {
  background-color: #fff;
  padding: 5px 12px;
  border-radius: 3px;
  color: #5a31fc;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 25px;
}

.lgo {
  float: left;
}

nav>svg {
  width: 21px;
  height: 21px;
}

.logo {
  margin-top: 20px;
  margin-left: 70px;
}

.header-text {
  color: #fff;
  margin-left: 60px;
  float: left;
  margin-top: 70px;
}

.header-text>h2 {
  font-size: 35px;
}

.header-image {
  float: right;
}

.companies {
  margin-top: 20px;
  margin-left: 60px;
}

.company-items {
  text-decoration: none;
  color: #000;
  margin: 30px;
  cursor: pointer;
  font-family: Righteous;
  font-size: 20px;
}

.api-heading {
  font-weight: 800;
  margin-left: 90px;
  margin-top: 100px;
}

.cards {
  margin-left: 90px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.card {
  width: 20%;
  height: 250px;
  background-color: transparent;
  margin-right: 10px;
}

.card-active {
  width: 20%;
  height: 250px;
  background-color: #fff;
  margin-right: 30px;
  padding: 10px;
  border-radius: 10px;
}

.card-logo {
  margin-left: 10px;
  margin-top: 30px;
}

.card-head-active {
  color: #000cf4;
  margin-left: 30px;

}

.card-head {
  margin-left: 10px;
}

.card-body {
  color: #000;
  font-size: small;
  margin-left: 10px;
}

.blog-content {
  width: 240px;
  height: 288px;
  margin-left: 250px;
  margin-top: -318px;
  background-color: #fff;
  padding-left: 30px;
  padding-right: 0px;
}

.blog-content>h6 {
  color: #4a1cfd;
  padding-top: 20px;
}

.blog-content>h3 {
  margin-top: -10px;
}

.blog-bottom>img {
  width: 25px;
  margin-left: 5px;
}

.blog-bottom {
  margin-left: 280px;
  margin-top: -30px;
  border: 3px solid #fff;
  width: 40px;
  height: 40px;
  background-color: #dcdbdb;
  border-radius: 50%;
}

.blog-author {
  margin-left: 165px;
  margin-top: -50px;
  font-size: 12px;
}

.fa-circle-chevron-right {
  color: #3400ff;
  margin-top: 120px;
  margin-right: 50px;
  cursor: pointer;
}

.see-all {
  float: right;
  margin-top: -50px;
  margin-right: 10px;
  color: #3400ff;
  font-weight: bold;
  cursor: pointer;
} 

.faq-section {
  background-color: #dee4ff;
  margin-top: 50px;
}

.faq-content {
  margin-left: 90px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.faq-content>h4:nth-child(1) {
  font-size: 5px;
}

.faq-content>h4:nth-child(2) {
  font-size: 12px;
}

.faq-content>button {
  color: #fff;
  background-color: #3400ff;
  border: none;
  padding: 5px 15px;
  border-radius: 2px;
}

.download-section {
  background-color: transparent;
  width: 100%;
  height: 150px;
}

.download-content {
  margin-left: 90px;
  margin-top: 100px;
}

.download-content>h1>span {
  font-weight: lighter;
}

/* .download-email {
  float: right;
  margin-top: -50px;
  margin-right: 70px;
} */

.download-email>form>input {
  background-color: #dee4ff;
  border: none;
  border-radius: 30px;
  padding: 5px 30px;
  height: 40px;
  width: 500px;
  margin-right: -100px;
  color: #000;
  border: 2px solid #dee4ff;
}

.download-email>form>button {
  background-color: #3400ff;
  border: none;
  border-radius: 30px;
  color: #fff;
  padding: 5px 30px;
  height: 50px;
  margin-left: -33px;
  cursor: pointer;
}

.download-email>form>input:focus {
  outline: none;
  border-color: #c4cdf8;
}

.download-email>form>input::placeholder {
  color: #000000;
}

.footer-section {
  background-color: #4719fd;
  width: 100%;
  height: 220px;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.footer-logo {
  margin-top: 80px;
  margin-left: 90px;
  cursor: pointer;
}

.footer-left>.list {
  display: flex;
  list-style: none;
  margin-left: 45px;
}

.list>.list-items {
  margin-right: 30px;
  color: #fff;
  cursor: pointer;
}

.logos-list {
  display: flex;
  list-style: none;
  color: #fff;
  margin-right: 50px;
}

.footer-right-logo {
  margin-top: 80px;
  margin-left: 100px;
}

.footer-logos {
  margin-right: 10px;
  cursor: pointer;
}

.logos-list>.list-items {
  margin-right: 30px;
  cursor: pointer;
}





@media screen and (min-width: 360px) {
  .bars-visible {
    display: block;
    color: #fff;
  }

  .items-hidden {
    display: none;
  }

  .logo {
    width: 100px;
  }

  header {
    height: 600px;
  }

  .api-heading {
    font-weight: 800px;
    margin-left: 0px;
    text-align: center;
    margin-top: 100px;
  }

  .cards {
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .card-active {
    width: 100%;
    height: 250px;
    background-color: #fff;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }

  .card {
    margin-top: 10px;
    width: 100%;
    height: 250px;
    background-color: transparent;
    margin-right: 10px;
    text-align: center;
  }

  .blog-cards {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    height: 900px;
  }

  .blog-card {
    width: 100%;
    height: 300px;
  }

  .blog-card:nth-child(2) {
    margin-left: 0px;
  }

  .blog-image > img {
    width: 50%;
    height: 400px;
  }

  .blog-content {
    width: 50%;
    height: 400px;
    margin-left: 50%;
    margin-top: -430px; 
  }

  .blog-author {
    margin-left: 125px;
    margin-top: -70px;
    font-size: 12px;
  }

  .faq-image > img {
    margin-top: 10px;
    width: 100%;
    height: 200px;
  }

  .download-content {
    margin-top: 30px;
  }

  .download-content {
    margin-top: 30px; 
    margin-left: 10px;
  }

  .download-email>form>input {
    height: 40px;
    width: 80%;
    margin-right: -100px;
    color: #000;
    border: 2px solid #dee4ff;
  }

  .footer-section {
    height: 520px;
  }

  .footer-left>.list {
    display: flex;
    flex-direction: column;
  }


}



@media screen and (min-width: 768px) {
  .bars-visible {
    display: inline;
  }

  .bars-icon {
    margin-top: 35px;
  }

  .items-hidden {
    display: none;
  }

  .cards {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .card {
    width: 40%;
    height: 250px;
    background-color: transparent;
    margin-right: 10px;
    text-align: center;
  }

}


@media screen and (min-width: 976px) {
  .bars-hidden {
    display: none;
  }

  .items-visible {
    display: flex;
  }

}


@media screen and (min-width: 1240px) {
  .bars-hidden {
    display: none;
  }

  .items-visible {
    display: flex;
  }

  header {
    height: 500px;
    background-color: #3400ff;
  }

  nav {
    margin-top: 10px;
    width: 100%;
  }

  .navitems {
    margin-left: 35%;
    display: flex;
  }

  .items {
    width: 470px;
  }

  .nav-item {
    margin-right: 20px;
    margin-top: 5px;
    color: #fff;
    cursor: pointer;
  }

  .nav-item-active {
    background-color: #fff;
    padding: 5px 12px;
    border-radius: 3px;
    color: #5a31fc;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 70px;
  }

  nav>svg {
    width: 21px;
    height: 21px;
  }

  .logo {
    margin-top: 20px;
    margin-left: 70px;
  }

  .header-text {
    color: #fff;
    margin-left: 60px;
    float: left;
    margin-top: 70px;
  }

  .header-text>h2 {
    font-size: 35px;
  }

  .header-image {
    float: right;
  }

  .companies {
    margin-top: 20px;
    margin-left: 60px;
  }

  .company-items {
    text-decoration: none;
    color: #000;
    margin: 30px;
    cursor: pointer;
    font-family: Righteous;
    font-size: 20px;
  }

  .api-heading {
    font-weight: 800;
    margin-left: 90px;
    margin-top: 100px;
    text-align: left;
  }

  .cards {
    margin-left: 90px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
  }

  .card {
    width: 20%;
    height: 250px;
    background-color: transparent;
    margin-right: 10px;
  }

  .card-active {
    width: 20%;
    height: 250px;
    background-color: #fff;
    margin-right: 30px;
    padding: 10px;
    border-radius: 10px;
  }

  .card-logo {
    margin-left: 10px;
    margin-top: 30px;
  }

  .card-head-active {
    color: #000cf4;
    margin-left: 30px;

  }

  .card-head {
    margin-left: 10px;
  }

  .card-body {
    color: #000;
    font-size: small;
    margin-left: 10px;
  }

  .blog-heading {
    margin-left: 90px;
    margin-top: 70px;
  }

  .blog-cards {
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 300px;
  }

  .blog-card {
    height: 300px;
    width: 40%;
  }

  .blog-card:nth-child(2) {
    margin-left: 130px;
  }

  .blog-image > img {
    width: 50%;
    height: 70%;
  }

  .blog-content {
    width: 300px;
    height: 264px;
    margin-left: 230px;
    margin-top: -295px;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 0px;
  }

  .blog-content>h6 {
    color: #4a1cfd;
    padding-top: 20px;
  }

  .blog-content>h3 {
    margin-top: -10px;
  }

  .blog-bottom>img {
    width: 25px;
    margin-left: 5px;
  }

  .blog-bottom {
    margin-left: 280px;
    margin-top: -30px;
    border: 3px solid #fff;
    width: 40px;
    height: 40px;
    background-color: #dcdbdb;
    border-radius: 50%;
  }

  .blog-author {
    margin-left: 165px;
    margin-top: -50px;
    font-size: 12px;
  }

  .fa-circle-chevron-right {
    color: #3400ff;
    margin-top: 120px;
    margin-right: 50px;
    cursor: pointer;
  }

  .see-all {
    float: right;
    margin-top: -50px;
    margin-right: 50px;
    color: #3400ff;
    font-weight: bold;
    cursor: pointer;
  }

  .faq-section {
    background-color: #dee4ff;
    margin-top: 50px;
  }

  .faq-content {
    margin-left: 90px;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .faq-content>h4:nth-child(1) {
    font-size: 5px;
  }

  .faq-content>h4:nth-child(2) {
    font-size: 12px;
  }

  .faq-image>img {
    float: right;
    margin-top: -305px;
    width: 600px;
    height: 305px;
  }

  .faq-content>button {
    color: #fff;
    background-color: #3400ff;
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
  }

  .download-section {
    background-color: transparent;
    width: 100%;
    height: 150px;
  }

  .download-content {
    margin-left: 90px;
    margin-top: 100px;
  }

  .download-content>h1>span {
    font-weight: lighter;
  }

  .download-email {
    float: right;
    margin-top: -50px;
    margin-right: 70px;
  }

  .download-email>form>input {
    background-color: #dee4ff;
    border: none;
    border-radius: 30px;
    padding: 5px 30px;
    height: 40px;
    width: 500px;
    margin-right: -100px;
    color: #000;
    border: 2px solid #dee4ff;
  }

  .download-email>form>button {
    background-color: #3400ff;
    border: none;
    border-radius: 30px;
    color: #fff;
    padding: 5px 30px;
    height: 50px;
    margin-left: -33px;
    cursor: pointer;
  }

  .download-email>form>input:focus {
    outline: none;
    border-color: #c4cdf8;
  }

  .download-email>form>input::placeholder {
    color: #000000;
  }

  .footer-section {
    background-color: #4719fd;
    width: 100%;
    height: 220px;
  }

  .footer-left {
    float: left;
  }

  .footer-right {
    float: right;
  }

  .footer-logo {
    margin-top: 80px;
    margin-left: 90px;
    cursor: pointer;
  }

  .footer-left>.list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 45px;
  }

  .list>.list-items {
    margin-right: 30px;
    color: #fff;
    cursor: pointer;
  }

  .logos-list {
    display: flex;
    list-style: none;
    color: #fff;
    margin-right: 50px;
  }

  .footer-right-logo {
    margin-top: 80px;
    margin-left: 100px;
  }

  .footer-logos {
    margin-right: 10px;
    cursor: pointer;
  }

  .logos-list>.list-items {
    margin-right: 30px;
    cursor: pointer;
  }

}