*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(187,187,245);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
}

.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
}

.card_front{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,100,0.8),
    rgba(39, 39, 122, 0.8)), url(screen-man-person-back.png);
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.card h2{
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.input_email{
    width: 100%;
    background: transparent;
    border: 1px solid white;
    margin: 6px 0px;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: white;
}
.input_email:hover{
    border: 3px solid rgb(44, 43, 43);
}
.input_email:active{
    border: 1px solid black;
}
::placeholder{
    color: rgb(175, 173, 173);
    font-size: 12px;
}
button{
    width: 100%;
    background: transparent;
    border: 1px solid white;
    margin: 35px 0 10px;
    height: 32px;
    border-radius: 20px;
    font-size: 12px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    cursor: pointer;
    color: white;
}

.submit_btn{
    position: relative;
}
.submit_btn::after{
    content: '\27a4';
    color: rgb(250, 248, 248);
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: rgb(88, 154, 192);   /*rgba(252, 194, 4, 0.877); */
    position: absolute;
    right: -1px;
    top: -1px;
}
span{
    font-size: 14px;
    font-family:  Verdana, sans-serif;
    margin-left: 12px;
}
.card .btn{
    margin-top: 60px;
}

.card a{
    color: rgb(243, 171, 225);
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}