* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  position: relative;
  background: url('./camaro-background.png');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}
ul li .material-icons {
  color: whitesmoke;
  font-size: 20px;
}
li a {
  color: whitesmoke;
  text-decoration: none;
}
#logo {
  width: 150px;
  height: 100px;
}
ul {
  display: flex;
  padding: 20px 40px;
}
.nav-icons {
  flex: 55%;
  list-style-type: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.nav-items {
  flex: 45%;
  display: block;
  list-style-type: none;
  display: flex;
  gap: 5rem;
  align-items: center;
  color: whitesmoke;
}
.mobile-nav-items,
.close-btn {
  display: none;
}
.menu-btn {
  display: none;
  position: absolute;
  right: 20px;
  top: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.navlist-container.open {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  background: rgb(40, 42, 54);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  width: 50%;
  min-height: 100vh;
  overflow-x: hidden;
  transition: all ease-in-out 0.3s;
}
.navlist-container.open .mobile-nav-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 10rem;
  transition: 0.5s ease-in;
  list-style-type: none;
}
.navlist-container.open .close-btn {
  position: absolute;
  display: block;
  top: 15px;
  right: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#main {
  font-family: 'Titillium Web', sans-serif;
  font-size: 150px;
  letter-spacing: 1rem;
  color: whitesmoke;
  z-index: 1;
}
#sub {
  font-family: 'Titillium Web', sans-serif;
  font-size: 50px;
  letter-spacing: 2.5rem;
  margin-top: -50px;
  margin-left: 10px;
  color: whitesmoke;
  z-index: 1;
}
#car-img {
  width: 650px;
  height: 350px;

  transform: skewY(-2deg);
}
.car-container {
  margin-left: -30rem;
  margin-top: 4rem;
}
#text {
  z-index: 1;
  color: whitesmoke;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  width: 50%;
  margin-left: 10px;
  margin-top: 1rem;
}
#button {
  background-color: rgb(40, 42, 54);
  color: aliceblue;
  border-style: none;
  text-align: center;
  padding: 1rem 2rem;
  margin-top: 3rem;
  margin-left: 10px;
}
#button:hover {
  cursor: pointer;
}
.car-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.car-specs {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
#top-row {
  display: flex;
  gap: 5rem;
  color: rgb(146, 143, 143);
  font-size: 10px;
  font-family: 'Titillium Web', sans-serif;
}
#top-row p,
#bottom-row p {
  width: 50px;
}
#bottom-row {
  display: flex;
  gap: 5rem;
  color: aliceblue;
  font-family: 'Titillium Web', sans-serif;
}
.units {
  font-size: 10px;
}

@media (max-width: 1160px) {
  .car-details {
    flex-direction: column;
    margin-left: 2rem;
  }
  .car-container {
    margin-left: 0;
    margin-top: -5rem;
    margin-bottom: 3rem;
  }
  .menu-btn {
    display: none;
  }
  #main{
    font-size: 130px;
  }
}
@media (max-width: 950px) {
  #main {
    font-size: 100px;
  }
  .car-container {
    margin-left: 0;
    margin-top: -5rem;
  }
  .car-specs {
    bottom: 0;
    right: 5%;
  }
  #car-img {
    width: 550px;
    height: 300px;
  }
  .car-details {
    display: grid;
    place-content: center;
    height: 90vh;
    margin-top: 5rem;
  }
  .chevrolet-text {
    margin-left: 3rem;
  }
  .car-container {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  .menu-btn {
    display: none;
  }
}
@media (max-width: 900px) {
  #main {
    font-size: 70px;
  }
  #sub {
    margin-top: -25px;
  }
  #car-img {
    width: 550px;
    height: 300px;
  }
  .nav-items {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .nav-icons{
    display: none;
  }
  .chevrolet-text {
    margin-left: 3rem;
  }
  .car-container {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .car-details {
    margin-top: 10rem;
  }
}
@media (max-width: 600px) {
  #car-img {
    width: 300px;
    height: 200px;
  }
  .car-container {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  .chevrolet-text {
    margin-left: 2rem;
  }
  #main {
    margin-left: 8px;
    font-size: 45px;
    letter-spacing: 0.5rem;
  }
  #sub {
    letter-spacing: 0.2rem;
  }
  .nav-items {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .nav-icons{
    display: none;
  }
  .car-details {
    height: 60vh;
  }
  #text {
    width: 80%;
    font-size: 16px;
  }
  #top-row,
  #bottom-row {
    gap: 2rem;
  }
}
